{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>About</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free Website Template" name="keywords">
    <meta content="Free Website Template" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Nunito:600,700" rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/flaticon/font/flaticon.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <style>

    </style>
</head>

<body>
    <!-- Nav Bar Start -->
    <div class="navbar navbar-expand-lg bg-light navbar-light">
        <div class="container-fluid">
            <a href="{% url 'index' %}" class="navbar-brand">Sri Sai Thirumala Wines</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav ml-auto">
                    <a href="{% url 'index' %}" class="nav-item nav-link active">Home</a>
                    <a href="{% url 'about' %}" class="nav-item nav-link">About</a>

                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Login</a>
                        <div class="dropdown-menu">
                            <a href="{% url 'adminlogin' %}" class="dropdown-item">Admin</a>
                            <a href="{% url 'emplogin' %}" class="dropdown-item">Employee</a>
                            <a href="{% url 'acclogin' %}" class="dropdown-item">Accountant</a>
                        </div>
                    </div>
                    <a href="{% url 'contact' %}" class="nav-item nav-link">Details</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Nav Bar End -->


    <!-- Page Header Start -->
    <div class="page-header mb-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>About </h2>
                </div>
                <div class="col-12">
                    <a href="{% url 'index' %}">Home</a>
                    <a href="">About</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Brands Start -->

    <!-- brands End -->


    <!-- About Start -->

    <!-- About End -->


    <!-- Video Modal Start-->
    <div class="food">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <div class="food-item">
                        <i class="flaticon-whisky"></i>
                        <h2>Absolut vodka</h2>
                        <p>
                            Absolut Vodka is a Swedish vodka made exclusively from natural ingredients, with no added sugar and made from water and winter wheat grown in the fields of Åhus, Sweden. Absolut is rich becoming synonymous with art, culture and nightlife. 
                        </p>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="food-item">
                        <i class="flaticon-whisky"></i>
                        <h2>Ballentines</h2>
                        <p>
                            Ballantine's is a brand of blended Scotch whiskey produced in Scotland. The Ballantine's
                            flavour is dependent on fingerprint malts from Miltonduff and Glenburgie, blended with 50
                            single malts and four single grains, selling over 110+ years in the market.
                        </p>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="food-item">
                        <i class="flaticon-vodka"></i>
                        <h2>Barcardi</h2>
                        <p>
                            BACARDÍ Superior Rum is a light and aromatically balanced rum. Subtle notes of almonds and
                            lime are complemented by hints of vanilla. The finish is dry, crisp, and clean.one of the
                            largest privately held, family-owned spirits company.
                        </p>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="food-item">
                        <i class="flaticon-beer"></i>
                        <h2>Clement</h2>
                        <p>
                            Clement Shrubb is a liqueur based on unaged and six-year-old Clément Martinique agricole rum which is blended and then aged with orange peels in 250 litre oak casks for a year. The resulting blend is sweetened with cane syrup prior to bottling.
                        </p>

                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="food-item">
                        <i class="flaticon-whisky"></i>
                        <h2>Dark matter</h2>
                        <p>
                            This orange & chocolate flavoured liqueur is a versatile choice for contemporary takes on classic cocktails such as Martinis and Sidecars, as well as mixing perfectly with ginger beer and lime for a simple, thirst-quenching serve.
                        </p>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="food-item">
                        <i class="flaticon-whisky"></i>
                        <h2>8-PM</h2>
                        <p> 
                            When the hand of clock strikes 8, its time to end the wait. Blended with rich quality grains, it unleashes carefree streak & engulfs one into an aura of unmatched experience which captures the true essence of the brand,world’s 11th largest selling whisky.
                        </p>
                    </div>
                </div>
                <!--<div class="col-md-4">
                    <div class="food-item">
                        <i class="flaticon-whisky"></i>
                        <h2>God father</h2>
                        <p>
                            The Godfather is made with whiskey and amaretto. Blended scotch is the classic choice, although some people choose to use a single malt or even bourbon. The latter makes a fine drink, but one that features bourbon’s baking spice notes rather than scotch’s hallmark flavors of honey, heather and soft smoke.
                        </p>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="food-item">
                        <i class="flaticon-whisky"></i>
                        <h2>Haywards</h2>
                        <p>
                            Ballantine's is a brand of blended Scotch whiskey produced in Scotland. The Ballantine's
                            flavour is dependent on fingerprint malts from Miltonduff and Glenburgie, blended with 50
                            single malts and four single grains.
                        </p>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="food-item">
                        <i class="flaticon-whisky"></i>
                        <h2>Imperial Blue</h2>
                        <p>
                            Ballantine's is a brand of blended Scotch whiskey produced in Scotland. The Ballantine's
                            flavour is dependent on fingerprint malts from Miltonduff and Glenburgie, blended with 50
                            single malts and four single grains.
                        </p>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="food-item">
                        <i class="flaticon-whisky"></i>
                        <h2>Johny Walker</h2>
                        <p>
                            Ballantine's is a brand of blended Scotch whiskey produced in Scotland. The Ballantine's
                            flavour is dependent on fingerprint malts from Miltonduff and Glenburgie, blended with 50
                            single malts and four single grains.
                        </p>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="food-item">
                        <i class="flaticon-whisky"></i>
                        <h2>Peter Scott</h2>
                        <p>
                            Ballantine's is a brand of blended Scotch whiskey produced in Scotland. The Ballantine's
                            flavour is dependent on fingerprint malts from Miltonduff and Glenburgie, blended with 50
                            single malts and four single grains.
                        </p>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="food-item">
                        <i class="flaticon-whisky"></i>
                        <h2>Royal Stag</h2>
                        <p>
                            Ballantine's is a brand of blended Scotch whiskey produced in Scotland. The Ballantine's
                            flavour is dependent on fingerprint malts from Miltonduff and Glenburgie, blended with 50
                            single malts and four single grains.
                        </p>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="food-item">
                        <i class="flaticon-whisky"></i>
                        <h2>Smirnoff</h2>
                        <p>
                            Ballantine's is a brand of blended Scotch whiskey produced in Scotland. The Ballantine's
                            flavour is dependent on fingerprint malts from Miltonduff and Glenburgie, blended with 50
                            single malts and four single grains.
                        </p>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="food-item">
                        <i class="flaticon-whisky"></i>
                        <h2>Teachers</h2>
                        <p>
                            Ballantine's is a brand of blended Scotch whiskey produced in Scotland. The Ballantine's
                            flavour is dependent on fingerprint malts from Miltonduff and Glenburgie, blended with 50
                            single malts and four single grains.
                        </p>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="food-item">
                        <i class="flaticon-whisky"></i>
                        <h2>Vat 69</h2>
                        <p>
                            Ballantine's is a brand of blended Scotch whiskey produced in Scotland. The Ballantine's
                            flavour is dependent on fingerprint malts from Miltonduff and Glenburgie, blended with 50
                            single malts and four single grains.
                        </p>

                    </div>
                </div>
                
            </div>
        </div>
    </div>
-->

    <!-- Video Modal End -->


    <!-- Footer Start -->
    <div class="footer">
        

                <div class="row">
                    
                    </div>

                    <p>Copyright &copy; <a href="#">Sri Sai Thirumala Wines</a>, All Right Reserved.</p>
                    <p>Designed By <a href=" ">Batch 8</a></p>

                </div>

                <!-- Footer End -->

                <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

                <!-- JavaScript Libraries -->
                <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
                <script src="lib/easing/easing.min.js"></script>
                <script src="lib/owlcarousel/owl.carousel.min.js"></script>
                <script src="lib/tempusdominus/js/moment.min.js"></script>
                <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
                <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

                <!-- Contact Javascript File -->
                <script src="mail/jqBootstrapValidation.min.js"></script>
                <script src="mail/contact.js"></script>

                <!-- Template Javascript -->
                <script src="js/main.js"></script>
</body>

</html>